/* Estilos generales */
body {
    font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #2c2c2c, #1a1a1a);
  background-attachment: fixed;
  color: rgba(255, 255, 255, 0.75);
  padding: 4em;
  max-width: 400px;
  padding-top: 90px;
}

/* Título */
h1 {
  color: #fff;
  font-size: 2.0em;
  font-weight: 700;
  margin-bottom: 1em;
  text-align: left;
  position: relative;
  top:-35.5px;
  left: 20px;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  background-color: #1cb495; 
  color: white;
  padding: 15px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  align-items: center;

}
/* Fieldset y leyenda */
fieldset {
  border: 2px solid rgba(255, 255, 255, 0.35);
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 1em;
}

legend {
  color: #fff;
  font-weight: bold;
  padding: 0 0.5em;
}

/* Inputs */
input {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.35);
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.75);
  padding: 0.5em 1em;
  margin: 0.25em;
  width: calc(50% - 2em);
  outline: none;
}

.nota {
  width: 150px;
  position: relative;
  right:50px;

}
.porcentaje {
  width: 20px;
}
input[type="text"]:focus {
  background-color: rgba(255, 255, 255, 0.125);
  border-color: #1cb495;
}

/* Botones */
button {
  background-color: #1cb495;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 0.75em 1.5em;
  margin: 0.5em 0.25em;
  transition: background-color 0.2s ease-in-out;
  align-items: center;
  justify-content: center; 

}

button:hover {
  background-color: #1fcaa7;
}
.material-icons {
  vertical-align: middle;
  font-size: 1.2em;
  margin-right: -0.5em;
  position: relative;
  top: -2px;

}
#mano{
    width:50px;
    height: auto;
    position: relative;
    top: 20px;

}
h2{
    position: relative;
    left:500px
}
#notas {
  position: relative;
  left:550px;
}

#agregar {
  position: relative;
  left: 700px;
}
#calcular-icono {
    vertical-align: middle;
    margin-right: 0.05em; 
}
.fila{
    display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 0.5em;
}
#need-grade-icono {
    vertical-align: middle;
    margin-right: 0.2em; 
}
.resultado {
  background-color: #f1f8e9;
    border: 2px solid #c5e1a5;
    border-radius: 12px;
    padding: 16px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 700px;
    font-family: 'Segoe UI', sans-serif;
    align-content: center;
}
.resultado-icono{
  color: #558b2f;
  font-size: 100px;

}

h3{
  font-size: 1.2rem;
    margin: 0;
    color: #33691e;
    font-weight: 500;
}
#resultados{
  position: relative;
  left: 20px;
  top:-2.5px;
}
#app-icon {
  width: 60px;
  height: auto;
  position: relative;
  top: 10px;
  left: 30px;
}